body {
	font-family: 'Lato', sans-serif;
}

.new-pink {
	background: #c90f3f;
}
.half {
	width: 48%;
}
.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.chunk {
	overflow: hidden;
}

.welcome {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
.serif {
	font-family: 'PT Serif', serif;
    font-weight: 600;
}

h1 {
	font-size: 2.5em;
}

h1:after {
	content:"";
    display: block;
    float: left;
    clear: both;
    border-bottom: 3px solid;
    width: 30px;
}
