body {
	font-family: 'Lato', sans-serif;
}

.new-pink {
	background: #c90f3f;
}
.half {
	width: 48%;
}
.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.chunk {
	overflow: hidden;
}


.serif {
	font-family: 'PT Serif', serif;
}