body {
	font-family: 'Lato', sans-serif;
}

.center-this {
	width: 90%;
    max-width: 1280px;
    position:relative;
    margin: 0 auto;
}

.new-pink {
	background: #c90f3f;
}
.half {
	width: 48%;
}
.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.chunk {
	overflow: hidden;
}

.chunk.new-pink {
padding: 25vh 0;
}

.welcome {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
.serif {
	font-family: 'PT Serif', serif;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
	font-size: 2.5em;
}

h1:after {
  content: "";
  display: block;
  clear: both;
  border-bottom: 3px solid;
  width: 50px;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.welcome h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 200;
  padding-right: 20%;
}

