body {
	font-family: 'Lato', sans-serif;
    background: url(../img/gifity.gif) repeat;
}

.center-this {
	width: 90%;
    max-width: 1170px;
    position:relative;
    margin: 0 auto;
    text-align:left;
    overflow: hidden;
	clear: both;
}

section.chunk {
background:#FFF;
}

.timeline-head,
.new-pink {
	background: #c90f3f;
}
.half {
	width: 48%;
}
.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.chunk {
	overflow: hidden;
}

.chunk.new-pink {
padding: 25vh 0 !important
}

.welcome {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
.serif {
	font-family: 'PT Serif', serif;
    font-weight: 600;
    line-height: 1.2;
}


h1,
.h1 {
	font-size: 2.5em;
}

.h1 {
font-weight:700;
}

.welcome h1 {
	font-weight: 400;
}

h1:after,
.h1:after {
  content: "";
  display: block;
  clear: both;
  border-bottom: 3px solid;
  width: 50px;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.welcome h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 200;
}
.center-this p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1em;
}

.center-this a {
	color: #c90f3f;
}

.center-this a:hover {
	text-decoration: underline;
}

ul.skills li {
  width: 48%;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
}

.center-this p.contact-item {
	margin-bottom: 0.2em;
	clear: both;
}

span.contact-label {
	float: left;
    width: 130px;
    display: block;
    font-weight: 400;
}

a.btn {
  display: inline-block;
  padding: .8em 1em;
  background: #c90f3f;
  color: #FFF;
  border-radius: 0.25em;
  border-bottom: 0;
  font-weight: 600;
  line-height: 1;
  font-size: 1.2em;
  margin-top: 2em;
}
a.btn:hover {
	text-decoration: none;
    background: #9E0A31;
}
section.chunk.timeline-head {
color: #FFF;
background: #c90f3f !important;
border-bottom: 1px solid #FFF;
padding: 40px 0 !important;
}
.timeline-head h2.h1:after {
display:none;
}
.timeline-head p,
.timeline-head h2 {
	color: #FFF;
}
.timeline-head p {
	font-size: 1.3em;
}


#nav {
background: #b90b38 !important;
}
.chunk {
padding: 80px 0 !important;
}

#nav a {
	padding: 25px 15px;
}

#cd-timeline {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.cd-timeline-content {
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    padding: 1.5em 1.8em;
    border-radius: 0.5em;
    position: relative;
}

.cd-timeline-content h2 {
	color: #c90f3f;
	font-size: 1.6em;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content:before,
.cd-timeline-block:nth-child(odd) .cd-timeline-content:before {
content: "";
display: inline-block;
background: white;
width: 25px;
height: 25px;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
top: 15px;
position: absolute;
left: -7px;
}
.cd-timeline-block:nth-child(odd) .cd-timeline-content:before {
	left: auto;
    right: -7px;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.5;
  font-size: 1.1em;
  font-weight: 300;
  color: #171717;
}

.cd-timeline-content .cd-read-more {
  font-size: 1em;
  font-weight: 600;
}

.year h3 {
	font-size: 2em;
}

.avatar {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  margin: 1em 0;
}

.avatar img {
  float: left;
  display: block;
 	margin: 0 2em 0.5em 0;
  border-radius: 100%;
  border: 6px solid #FFF;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  width: 160px;
  height: 160px;
}

.avatar p {
  float: left;
  display: block;
  margin: 2em 0 0;
}